/*-- scss:defaults --*/

// Base document colors
$body-bg: #118CFA;
$body-color: white;
$h1-color: pink;
$link-color: black;

$light: #46467A;

// Navigation element colors
$footer-bg: #118CFA;
$navbar-bg: #1213FA;
$sidebar-bg: #1213FA;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #1213FA;

// Bootstrap inputs
$input-bg: #1213FA;


/*-- scss:rules --*/